@import '_var';

@media (min-width: 1170px) {
  body {
    min-width: 1600px;
  }
  .main-slider {
    height: 1000px;
    background: url("../../img/main-sl.png");
    .mn-sl-text {
      display: block;
      padding-top: 500px;
      .mn-sl-title {

      }
    }
    .mn-sl-controls {
      float: right;
      margin-right: 210px;
      margin-top: 195px;
      .mn-sl-cntr {
        display: block;
      }
    }
  }
  .logo {
    display: inline-block;
    margin-left: 210px;
    vertical-align: middle;
  }
  .menu {
    height: 70px;
  }
  .menu-items {
    display: inline-block;
    vertical-align: middle;
    margin-left: 210px;
    .menu-item {
      display: inline-block;
      margin-left: 50px;
      height: 100%;
      padding-top: 20px;
    }
  }
  .menu-item-humb {
    display: none;
  }
  .about-me {
    height: 755px;
    .avatar {
      display: inline-block;
    }
    .ab-me-text {
      display: inline-block;
      vertical-align: text-top;
      margin-left: 100px;
      margin-top: 100px;
      width: 580px;
      max-width: 100%;
    }
  }
  .values {
    .val-item {
      width: 360px;
    }
  }
  .areas-row-item {
    display: inline-block;
  }
  .skills {
    padding: 100px 190px 100px 200px;
    .skl-desc {
      margin-right: 90px;
    }
  }

  .exp-l {
    margin-left: 210px;
  }

  .exp-r {
    margin-right: 210px;
  }

  .contact-me {
    padding-left: 210px;
    padding-right: 210px;
  }

}