@import '_var';

@media (min-width: 1445px) {
  .main-slider {
    height: 1000px;
    background: url("../../img/main-sl.png");
    .mn-sl-text {
      display: block;
      padding-top: 500px;
      .mn-sl-title {

      }
    }
    .mn-sl-controls {
      float: right;
      margin-right: 210px;
      margin-top: 195px;
      .mn-sl-cntr {
        display: block;
      }
    }
  }
  .logo {
    display: inline-block;
    margin-left: 210px;
    vertical-align: middle;
  }
  .menu{
    height: 70px;
  }
  .menu-items {
    display: inline-block;
    vertical-align: middle;
    margin-left: 210px;
    .menu-item {
      display: inline-block;
      margin-left: 50px;
      height: 100%;
      padding-top: 20px;
    }
  }
  .menu-item-humb{
    display: none;
  }
  .about-me{
    height: 755px;
  }
}