@import '_var';

@media (max-width: 1469px) {
  .main-slider {
    background: url("../../img/main-sl.png");
    padding-bottom: 25px;
    padding-top: 25px;
    height: 1000px;
    .mn-sl-text {
      display: block;
      margin-top: 40%;
      .mn-sl-title {
        max-width: 100%;
      }
    }
    .mn-sl-controls {
      width: 100px;
      margin: 20px auto;
      .mn-sl-cntr {
        display: inline-block;
      }
    }
  }
  .logo{

  }
  .menu{
    min-height: 70px;
  }
  .menu-items{
    display: block;
    width: 100%;
    background-color: $blue;
    height: 0;
    .menu-item{
      display: block;
      width: 100%;
      text-align: center;
      height: 50px;
      font-size: 20px;
      padding: 20px;
      visibility: hidden;
    }
    .menu-item:hover{
      background-color: $green;
      color: #ffffff;
    }
  }
  .visible{
    height: 350px;
    .menu-item{
      visibility: visible;
    }
  }
  .menu-item-humb{
    display: inline-block;
  }
  .about-me {
    display: block;
    width: 100%;
    background-color: #f2f2f1;
    overflow: hidden;
    .avatar {
      display: inline-block;
      margin-right: 30px;
    }
    .ab-me-text {
      display: inline-block;
      vertical-align: text-top;
      margin: 100px auto;
      max-width: 100%;
      width: 360px;
    }
  }
  .skills {
    padding-top: 100px;
  }
  .exp-l{
    padding: 20px;
  }
  .exp-r{
    padding: 20px;
  }
  .contact-me{
    padding-left: 50px;
    padding-right: 50px;
  }
}