@import '_var';
@import 'big-screen';
@import 'small-screen';

//resume page
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  .body-block {
    display: block;
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
    .main-slider {
      display: block;
      width: 100%;
      .mn-sl-text {
        display: block;
        .mn-sl-title {
          display: block;
          width: 750px;
          margin: 0 auto;
          text-align: center;
          padding: 20px 0 20px 0;
          border-top: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          color: #ffffff;
          font-size: 60px;
          font-weight: 500;
          text-transform: uppercase;
        }
        .mn-sl-btn {
          display: block;
          margin: 50px auto 0 auto;
          width: 185px;
          height: 55px;
          text-align: center;
          border: 2px solid #ffffff;
          padding-top: 18px;
          font-weight: 500;
          color: #ffffff;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
      .mn-sl-controls {
        display: block;
        .mn-sl-cntr {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          border: 1px solid #ffffff;
          cursor: pointer;
          margin: 10px;
        }
        .cntr-active {
          background-color: #ffffff;
        }
      }
    }
    .menu {
      display: block;
      width: 100%;
      background-color: $blue;
      .logo {
        padding-top: 15px;
      }
      .menu-items {
        .menu-item {
          cursor: pointer;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 15px;
        }
        .menu-item:hover {
          @media (min-width: 1445px) {
            color: $green;
          }
        }
      }
      .menu-item-humb {
        color: #ffffff;
        float: right;
        margin-right: 30px;
        margin-top: -40px;
        cursor: pointer;
      }
    }
    .values {
      display: block;
      max-width: 100%;
      background-color: #ffffff;
      min-height: 345px;
      width: 1165px;
      margin: 0 auto;
      padding-top: 80px;
      .val-item {
        display: inline-block;
        width: 360px;
        margin-left: 25px;
        margin-top: 20px;
        max-width: 100%;
        .val-item-title {
          display: block;
          font-size: 22px;
          color: #566366;
          text-transform: uppercase;
          font-weight: 600;
        }
        .val-item-text {
          display: block;
          margin-top: 50px;
          color: #919191;
          font-size: 15px;
          line-height: 1.5;
        }
      }
    }
    .about-me {
      display: block;
      width: 100%;
      background-color: #f2f2f1;
      .avatar {
        overflow: hidden;
        width: 610px;
        max-width: 100%;
        vertical-align: text-top;
      }
      .ab-me-text {
        .ab-me-title {
          display: block;
          font-size: 22px;
          color: #566366;
          text-transform: uppercase;
          font-weight: 600;
        }
        .ab-me-content {
          display: block;
          margin-top: 50px;
          color: #919191;
          font-size: 15px;
          line-height: 1.5;
        }
        .areas {
          display: block;
          margin-top: 80px;
          .areas-row {
            display: block;
            margin-bottom: 30px;
            .areas-row-item {
              display: inline-block;
              width: 280px;
              margin-bottom: 30px;
              .row-item-title {
                display: block;
                i {
                  display: inline-block;
                  vertical-align: text-top;
                  color: $green;
                  font-size: 40px;
                }
                span {
                  display: inline-block;
                  color: #566366;
                  font-weight: 600;
                  vertical-align: text-top;
                  text-transform: uppercase;
                  font-size: 20px;
                  margin-left: 25px;
                }
              }
              .row-item-text {
                display: block;
                font-size: 15px;
                color: #919191;
                line-height: 1.5;
                margin-left: 70px;
              }
            }
          }
        }
      }
    }
    .skills {
      display: block;
      width: 100%;
      min-height: 620px;
      background-color: #ffffff;
      .skl-desc {
        display: inline-block;
        width: 550px;
        max-width: 100%;
        vertical-align: text-top;
        .skl-dsc-title {
          display: block;
          font-size: 22px;
          color: #566366;
          text-transform: uppercase;
          font-weight: 600;
        }
        .skl-dsc-text {
          display: block;
          margin-top: 50px;
          color: #919191;
          font-size: 15px;
          line-height: 1.5;
        }
        .skl-dsc-btn {
          display: block;
          border: 2px solid $green;
          color: $green;
          width: 185px;
          height: 55px;
          text-align: center;
          font-weight: 500;
          padding-top: 18px;
          margin-top: 50px;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
      .skl-tech {
        display: inline-block;
        width: 560px;
        max-width: 100%;
        vertical-align: text-top;
        margin-top: 10px;
        .skl-tech-item {
          display: block;
          width: 100%;
          margin-bottom: 40px;
          .skl-item-title {
            display: block;
            font-size: 18px;
            color: #566366;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 20px;
          }
          .skl-item-progress {
            display: block;
            background-color: #f2f2f1;
            height: 30px;
            .skl-item-prg {
              display: block;
              height: 100%;
              background-color: $green;
              span {
                display: block;
                color: #ffffff;
                margin-left: 90%;
                font-weight: 500;
                padding-top: 5px;
              }
            }
            .nine {
              width: 90%;
            }
            .eight {
              width: 80%;
            }
            .seven {
              width: 70%;
            }
          }
        }
      }
    }
    .resume {
      display: block;
      width: 100%;
      background-color: #f2f2f1;
      min-height: 420px;
      overflow: hidden;
      img {
        display: block;
        margin: 100px auto 0 auto;
      }
      .rsm-cont {
        display: block;
        width: 100%;
        padding-top: 100px;
        .rsm-title {
          display: block;
          font-size: 22px;
          color: #566366;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 50px;
          text-align: center;
        }
        .rsm-text {
          display: block;
          text-align: center;
          color: #919191;
          font-size: 15px;
          line-height: 1.5;
          width: 1030px;
          max-width: 100%;
          margin: 0 auto;
        }
        .rsm-btn {
          display: block;
          border: 2px solid $green;
          color: $green;
          width: 215px;
          height: 55px;
          text-align: center;
          font-weight: 500;
          padding-top: 18px;
          margin: 50px auto;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
    .exp {
      display: block;
      width: 100%;
      min-height: 820px;
      background-color: #ffffff;
      padding-top: 100px;
      .exp-l {
        display: inline-block;
        float: left;
        width: 550px;
        max-width: 100%;
        .exp-title {
          display: block;
          font-size: 22px;
          color: #566366;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 50px;
        }
        .exp-text {
          display: block;
          color: #919191;
          font-size: 15px;
          line-height: 1.5;
          width: 1030px;
          max-width: 100%;
          margin: 0 auto;
        }
      }
      .exp-r {
        display: inline-block;
        float: right;
        width: 550px;
        max-width: 100%;
        padding-top: 50px;
        .exp-r-item {
          display: block;
          width: 100%;
          margin-bottom: 80px;
          .exp-r-title {
            display: block;
            font-size: 18px;
            color: #566366;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 20px;
          }
          .exp-r-name {
            display: block;
            color: #919191;
            span {
              font-weight: 600;
            }
          }
          .exp-r-exp {
            display: block;
            margin-top: 20px;
            color: #ffffff;
            width: 72px;
            height: 30px;
            background-color: $green;
            font-size: 15px;
            text-align: center;
            padding-top: 7px;
          }
          .exp-r-text {
            display: block;
            color: #919191;
            font-size: 15px;
            line-height: 1.5;
            width: 1030px;
            max-width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
    .hr {
      display: block;
      width: 1170px;
      height: 0;
      border-top: 1px solid #cccccc;
      margin: 0 auto;
      max-width: 100%;
    }
    .quote {
      display: block;
      width: 100%;
      min-height: 415px;
      background-color: #f2f2f1;
      margin-top: 230px;
      .quote-text{
        display: block;
        width: 1070px;
        max-width: 100%;
        text-align: center;
        font-style: italic;
        font-size: 20px;
        color: #919191;
        line-height: 1.5;
        margin: 0 auto;
        padding-top: 105px;
      }
      .author{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 50px;
        font-weight: 600;
        color: #566366;
        font-size: 18px;
        text-transform: uppercase;
      }
      .counters{
        display: block;
        margin-top: 50px;
        width: 100%;
        text-align: center;
        .count{
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          border: 1px solid $green;
          cursor: pointer;
          margin: 5px;
        }
        .count-active{
          background-color: $green;
        }
      }
    }
  }
}