@import '_var';
@import 'big-screen';
@import 'small-screen';
body{
  font-family:'Roboto',sans-serif;
  .body-block{
    display: block;
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
    .main-slider{
      display: block;
      width: 100%;
      .mn-sl-text {
        display: block;
        .mn-sl-title {
          display: block;
          width: 750px;
          text-align: center;
          margin: 0 auto;
          padding: 20px 0 20px 0;
          border-top: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          color: #ffffff;
          font-size: 60px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }
}